@model Assignment2.DAL.Models.Token

@{
    ViewData["Title"] = "TokenValidation";
    Layout = "~/Views/Shared/_LayoutAccess.cshtml";
}

<h1>TokenValidation</h1>

<h4>Token</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TokenValidation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TokenString" class="control-label"></label>
                <input asp-for="TokenString" class="form-control" />
                <span asp-validation-for="TokenString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Validate token" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

